<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout med CSS</title>
    <!--link til eksternt-->
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!--Layout med float-->
     <div class="kasse-1">
        <h1>Hej bloggen</h1>
        <h1 id="sekundaer">en anden overskrift</h1>
        <ul>
            <li class="fire">Hund</li>
            <li class="aegdyr">Slange</li>
            <li class="fire">Hest</li>
            <li class="aegdyr">Fugl</li>
            <li class="fire">Egern</li>
        </ul>
    </div>
    
    <div class="kasse-2">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Inventore dolorum quos ullam voluptatibus quasi, velit 
            laudantium! Officiis doloremque dignissimos commodi corporis
            sapiente <span class="highlight">voluptates quam</span>, odio voluptatem ut repellat rem aperiam.
            Laboriosam reprehenderit fugit incidunt magnam aut et, optio 
            recusandae quas debitis est veniam numquam placeat dolores at ex, 
            qui provident sapiente possimus corporis odit obcaecati? 
            Eligendi magni officia necessitatibus impedit?</p>

     </div>
<!--FLEXBOX LAYOUT:-->
 <div class="container">
     <div class="header">Header</div>
     <div class="sidebar">Sidebar</div>
     <div class="content">Content</div>
     <div class="ad">Ad</div>
     <div class="footer">Footer</div>
 </div>



</body>
</html>